/*Overlay List Menu*/
/*/////////////////*/

.top-menu::-webkit-scrollbar { width: 0 !important }

.top-menu{
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.top-menu *{
    max-height:999999px;
    -webkit-text-size-adjust:none;
    -webkit-transform: translateZ(0);
}

.top-menu li{
    position:relative;
    overflow:hidden;
    display:block;
    list-style:none;
    line-height:60px;
    margin-bottom:0px;
}

.top-menu{
    position:fixed;
    width:280px;
    left:50%;
    margin-left:-140px;
    bottom:-700px;
    overflow-y:scroll;
    z-index:999!important;;
    -webkit-overflow-scrolling: touch;
    background-color:#FFFFFF;
    border-radius:10px;
    padding-top:5px;
    padding-bottom:5px;
    max-height:490px;
    -webkit-box-shadow: 0 1px 8px 2px rgba(0,0,0,0.10);
            box-shadow: 0 1px 8px 2px rgba(0,0,0,0.10);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.top-menu-active{
    margin-left:-140px;
    max-height:485px;
    bottom:50%;
    margin-bottom:-242px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.top-menu li a{
    padding-left:70px;
    line-height:60px;
    color:#666666;
    font-family:'Roboto', sans-serif;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.top-menu li a i:first-child{
    position:absolute;
    height:35px;
    width:35px;
    line-height:35px;
    border-radius:35px;
    text-align:center;
    left:0px;
    top:13px;
    left:20px;
    font-size:13px;
    color:#FFFFFF;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -o-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
    -webkit-box-shadow: 0 1px 5px 2px rgba(0,0,0,0.15);
            box-shadow: 0 1px 5px 2px rgba(0,0,0,0.15);
}

.menu-ball-hover{
    -moz-transform: scale(1.15,1.15)!important;
    -webkit-transform: scale(1.15,1.15)!important;
    -o-transform: scale(1.15,1.15)!important;
    -ms-transform: scale(1.15,1.15)!important;
    transform: scale(1.15,1.15)!important;
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.top-menu li a i:last-child{
    position:absolute;
    height:60px;
    width:60px;
    text-align:center;
    line-height:60px;
    font-size:4px;
    color:#1f1f1f;
    right:0px;
}

.top-menu li .fa-caret-right{
    font-size:10px!important;
}

.top-menu li .fa-mobile{
    font-size:20px!important;
}

.submenu{
    margin-bottom:0px;
}

.submenu li{
    border:none!important
}

.submenu li a{
    border:none;
}

.submenu a{
    text-indent:10px!important;
    color:#7e7e7e!important;
    font-size:11px;
    line-height:40px;
    line-height:100%;
    margin-top:-1px;
    margin-left:-10px;
    text-transform:none!important;
}

.submenu .fa-angle-right{
    font-size:8px!important;
    top:0px;
    left:24px!important;
    box-shadow:none!important;
    color:#1f1f1f!important;
}

.submenu .fa-circle{
    text-indent:0px;
}

.deploy-submenu .fa-plus{
    font-size:8px!important;
    -ms-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.active-menu .fa-circle{
    color:#27ae60!important;
    font-size:6px!important;
}

.active-submenu{
    -webkit-transition-delay: 250ms; 
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.active-submenu .fa-plus{
    margin-top:1px;
    color:#c0392b!important;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg); 
    transform: rotate(135deg);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.submenu{
    display:none;
    overflow:hidden;
}

.show-submenu{
    display:block;
}

/* Footer Menu*/

.menu-background{
    display:none;
    width:100%;
    height:150%;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index:99;
    background-color:rgba(255,255,255,0.95);
}

.show-big-menu{
    position:fixed;
    z-index:99;
    left:26px;
    bottom:20px;
    width:70px;
    height:70px;    
}

.show-big-menu i{
    position:absolute;
    left:5px;
    top:8px;
    width:50px;
    height:50px;
    border-radius:50px;
    text-align:center;
    line-height:50px;
    font-size:14px;
    color:#FFFFFF;
    background-color:#e34e47;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -o-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-box-shadow: 0 1px 5px 2px rgba(0,0,0,0.15);
            box-shadow: 0 1px 5px 2px rgba(0,0,0,0.15);
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.show-big-menu i:hover{
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}


/*Footer Menu Ball*/
/*////////////////*/

.footer-clear{
    height:80px;
}

.footer-menu-open{
    position:fixed;
    z-index:99;
    right:26px;
    bottom:20px;
    width:70px;
    height:70px;
}

.footer-menu-open i{
    position:absolute;
    right:5px;
    top:8px;
    width:50px;
    height:50px;
    border-radius:50px;
    text-align:center;
    line-height:50px;
    font-size:14px;
    color:#FFFFFF;
    background-color:#e34e47;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -o-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-box-shadow: 0 1px 5px 2px rgba(0,0,0,0.15);
            box-shadow: 0 1px 5px 2px rgba(0,0,0,0.15);
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.footer-menu-close{
    display:none;
    position:fixed;
    z-index:99999999;
    right:26px;
    bottom:20px;
    width:170px;
    height:70px;
}

.footer-menu-close i{
    position:absolute;
    right:5px;
    top:8px;
    width:50px;
    height:50px;
    border-radius:50px;
    text-align:center;
    line-height:50px;
    font-size:14px;
    color:#FFFFFF;
    background-color:#e34e47;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -o-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.footer-menu-close i:hover{
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.footer-menu-close em{
    z-index:999999;
    position:absolute;
    right:80px;
    text-align:right;
    font-style:normal;
    font-size:13px;
    margin-top:20px;
    color:#838383;
    font-weight:500;
    background-color:#FFFFFF;
    padding:3px 10px;
    border-radius:5px;
    -webkit-box-shadow: 0 1px 4px 2px rgba(0,0,0,0.15);
            box-shadow: 0 1px 4px 2px rgba(0,0,0,0.15);
}

.footer-menu-item{
    display:none;
    position:fixed;
    right:27px;
    width:200px!important;
}

.fm-1{    bottom:80px;    }
.fm-2{    bottom:140px;   }
.fm-3{    bottom:200px;   }
.fm-4{    bottom:260px;   }
.fm-5{    bottom:320px;   }
.fm-6{    bottom:440px;   }

/*Query for Larger Mobiles*/
@media screen and ( min-height: 600px ){
    .fm-1{    bottom:90px;    }
    .fm-2{    bottom:160px;   }
    .fm-3{    bottom:230px;   }
    .fm-4{    bottom:300px;   }
    .fm-5{    bottom:370px;   }
    .fm-6{    bottom:440px;   }
}

.footer-menu-item{
    position:fixed;
    z-index:9999999;
    width:100%;
    height:70px;   
}

.footer-menu-item i{
    position:absolute;
    right:7px;
    top:10px;
    width:45px;
    height:45px;
    border-radius:45px;
    text-align:center;
    line-height:45px;
    font-size:14px;
    color:#FFFFFF;
    background-color:#e34e47;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -o-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-box-shadow: 0 1px 5px 2px rgba(0,0,0,0.15);
            box-shadow: 0 1px 5px 2px rgba(0,0,0,0.15); 
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.footer-menu-item i:hover{
    -moz-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.footer-menu-item em{
    position:absolute;
    right:80px;
    text-align:right;
    font-style:normal;
    font-size:13px;
    margin-top:20px;
    color:#838383;
    font-weight:500;
    background-color:#FFFFFF;
    padding:3px 10px;
    border-radius:5px;
    -webkit-box-shadow: 0 1px 2px 2px rgba(0,0,0,0.10);
            box-shadow: 0 1px 2px 2px rgba(0,0,0,0.10);   
}

/*Circle Menu Landing Page*/
/*////////////////////////*/

.circle-homepage ul {
    margin-top:-10px;
    padding-left:20px;
    padding-right:20px;
}

.circle-homepage ul li:last-child{
    margin-bottom:40px;
}

.circle-homepage ul li{
    list-style:none;
    margin-bottom:20px;
}

.circle-homepage ul li{
    width:33.3%;
    float:left;
}

.circle-homepage ul li a{
    padding-top:10px;
}

.circle-homepage ul li a i{
    width:65px;
    height:65px;
    font-size:20px;
    line-height:65px;
    text-align:center;
    display:block;
    color:#FFFFFF;
    border-radius:65px;
    margin-left:auto;
    margin-right:auto;
    -webkit-box-shadow: 0 1px 2px 2px rgba(0,0,0,0.10);
            box-shadow: 0 1px 2px 2px rgba(0,0,0,0.10);  
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.circle-homepage ul li a i:hover{
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.circle-homepage ul li a em{
    display:block;
    font-size:14px;
    color:#1f1f1f;
    opacity:0.8;
    font-style:normal;
    text-align:center;
    padding-top:10px;
    font-weight:500;
}

.circle-homepage .fa-mobile{
    font-size:32px!important;
}


@media(min-width:767px){
    .circle-homepage{
        width:700px;
        margin-left:auto;
        margin-right:auto;
    }
        
    .circle-homepage ul {
        margin-top:-10px;   
        margin-bottom:-10px;
    }
    
    .circle-homepage ul li{
        margin-bottom:20px;   
    }
    
    .circle-homepage ul li a em{
        font-size:16px;   
    }
    
    .circle-homepage ul li a i{
        width:100px;
        height:100px;
        line-height:100px;
        font-size:250%;
        margin-bottom:0px;
    }
    
    .circle-homepage .fa-mobile{
        font-size:48px!important;
    }
    
    .circle-homepage .header{
        position:relative;
    }
    
    .circle-homepage .header-clear{
        height:30px;   
    }
}



/*Footer Tabs*/

.footer-controls li{
    list-style:none!important;
    margin-bottom:0px;
}

.footer-controls{
    margin-bottom:0px;
    height:80px;
    width:100%;
    position:fixed;
    z-index:99;
    bottom:-2px;
    background-color:#FFFFFF;
    -webkit-box-shadow: 0 1px 10px 5px rgba(0,0,0,0.15);
            box-shadow: 0 1px 10px 5px rgba(0,0,0,0.15); 
}

.footer-controls li a{
    margin-top:10px;
    float:left;
    height:65px;
    line-height:65px;
    text-align:center;
}

.footer-controls a i{
    height:45px;
    width:45px;
    border-radius:45px;
    line-height:45px;
    text-align:center;
    font-size:16px;
    color:#FFFFFF;
    -webkit-box-shadow: 0 1px 2px 2px rgba(0,0,0,0.10);
            box-shadow: 0 1px 2px 2px rgba(0,0,0,0.10);   
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.footer-controls a i:hover{
    -moz-transform: scale(1.2, 1.2)!important;
    -webkit-transform: scale(1.2, 1.2)!important;
    -o-transform: scale(1.2, 1.2)!important;
    -ms-transform: scale(1.2, 1.2)!important;
    transform: scale(1.2, 1.2)!important;
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}


.active-home-tab i{
    -moz-transform: scale(1.2, 1.2)!important;
    -webkit-transform: scale(1.2, 1.2)!important;
    -o-transform: scale(1.2, 1.2)!important;
    -ms-transform: scale(1.2, 1.2)!important;
    transform: scale(1.2, 1.2)!important;
}

@media (max-width:568px){
    .tablet-link{display:none;}
    .five-controls a{width:20%;}
    .four-controls a{width:25%;}
    .three-controls a{width:33%;}
}


@media (min-width:568px){
    .tablet-link{display:block;}   
    .five-controls a {width:11.1%;}
    .four-controls a {width:12.5%;}
    .three-controls a {width:14.28%;}
}


/*Features Menu List*/

.features-page a{
    font-size:14px;
}

.features-page a i {
    width:15px;
    text-align:center;
    padding-right:30px;
    color:#c0392b;
}

.features-page{
    border-top:solid 1px rgba(0,0,0,0.1);
    margin-top:30px!important;
    display:block;
}

.features-page a{
    line-height:60px;
    border-bottom:solid 1px rgba(0,0,0,0.1);
    color:#1f1f1f;
    font-weight:500;
}

.features-page a:hover{color:#1f1f1f;}

.features-page .fa-angle-right{
    float:right;
    line-height:60px;
    text-align:right!important;
    margin-right:-20px;
}

































